@page
@using FizzBuzzWeb.Forms
@model IndexModel
@{
    ViewData["Title"] = "Fizz Buzz"; 
}
<form method="post">
    @if (@Model.tab != null)
    {
        for (int i = 0; i < @Model.tab.Length; i++)
        {
            <input asp-for="tab[i].Year" hidden />
            <input asp-for="tab[i].Name" hidden />
        }
    }
    <div class="form-group">
        <label asp-for="@Model.form.Year"></label>
    <input asp-for="@Model.form.Year"/>
        <b><span asp-validation-for="@Model.form.Year" class="text-danger"></span></b>
    </div>
    <div class="form-group">
        <label asp-for="@Model.form.Name"></label>
    <input asp-for="@Model.form.Name"/>
        <b><span asp-validation-for="@Model.form.Name" class="text-danger"></span></b>
    </div>
    <button type="submit">Zatwierdz</button></br>
    @if(TempData["Check"]=="Valid")
    {
        <p>@Model.form.Name urodzil sie w @Model.form.Year. Byl do rok przestepny.</p>
    }

</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}