@page
@model IndexModel
@{
    ViewData["Title"] = "Fizz Buzz"; 
}
<form method="post">
<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <label asp-for="@Model.fizzBuzz.Number"></label>
    <input asp-for="@Model.fizzBuzz.Number" />
        <p>@ViewData["Info"]</p>
        <span asp-validation-for="@Model.fizzBuzz.Number"></span>
    <button type="submit">Sprawdz</button>
</div>
</form>
