@page
@using FizzBuzzWeb.Forms
@model IndexModel
@{
    ViewData["Title"] = "Fizz Buzz"; 
}
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.form.Year"></label>
    <input asp-for="@Model.form.Year"/>
        <b><span asp-validation-for="@Model.form.Year" class="text-danger"></span></b>
    </div>
    <div class="form-group">
        <label asp-for="@Model.form.Name"></label>
    <input asp-for="@Model.form.Name"/>
        <b><span asp-validation-for="@Model.form.Name" class="text-danger"></span></b>
    </div>
    <button type="submit">Zatwierdz</button></br>
    @if (Model.form.Year % 4 == 0 && Model.form.Year!=0)
    {
        @if (Model.form.Name == null)
        {
            <p>Rok @Model.form.Year. Byl to rok przestepny.</p>
        }
        else
        {
            <p>@Model.form.Name urodzil sie w @Model.form.Year. Byl to rok przestepny.</p>
        }

        TempData["1"] = "Rok przestepny";
    }
    else if (Model.form.Year % 4 != 0)
    {
        @if (Model.form.Name == null)
        {
                    <p>Rok @Model.form.Year. Nie byl to rok przestepny.</p>
        }
        else
        {
            <p>@Model.form.Name urodzil sie w @Model.form.Year. Nie byl to rok przestepny.</p>
        }
        TempData["1"] = "Rok nieprzestepny";
    }
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}