@page
@model FizzBuzzWeb.x.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (Model.userId != null)
{
    <p>Login uzytkownika: @Model.applicationUser.Email</p>
    <p>Id użytkownika: @Model.applicationUser.Id</p>
}
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Form[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Form[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Form) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @if (Model.userId != null)
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id" hidden>Edit</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
